html{
	margin: 0;
	height: 100%;
}

body{
	background-color: white;
	margin: 0;
	height: 100%;
	font-family: "Lato", sans-serif;
  	transition: background-color .5s;
}

ul {
  	list-style-type: none;
  	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
} 

li{
	list-style-type: none;
} 

/* ************************************HEADER************************************ */

header{
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgb(93, 173, 226);	
}

.logo{
	width: 130%;
	height: auto;
}

.titre{
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 13%;
	margin: 5px;
}

.txt-titre{
	color: rgb(93, 173, 226);
}

.lien-titre{
	text-decoration: none;
}

.connexion{
	width: 17%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bouton-R{
	height: 60px;
	width: 100px;
	border: 2px solid rgb(93, 173, 226);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bouton-L{
	height: 60px;
	width: 100px;
	background-color: rgb(93, 173, 226);
	border: 2px solid rgb(93, 173, 226);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.txt-bouton-connexion p{
	text-decoration: none;
}

.sidenav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover{
	color: #f1f1f1;
}

.sidenav .closebtn{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main{
	transition: margin-left .5s;
	padding: 16px;
}

@media screen and (max-height: 450px){
	.sidenav{
		padding-top: 15px;
	}
	.sidenav a{
		font-size: 18px;
	}
}

.header-bot{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	border-bottom: 2px solid rgb(93, 173, 226);
}

.search-et-theme{
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

.bouton-theme{
	display: flex;
	align-items: center;
}

.search{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.bouton-T{
	height: 50px;
	width: 50px;
	background-color: rgb(93, 173, 226);
	border: 2px solid rgb(93, 173, 226);
	border-radius: 1000px;
	display: flex;
	justify-content: center;
}

.fa-moon-o{
	height: 40px;
	width: auto;
}

/*Menu déroulant */

.bouton-profil{
	width: 5%;
	position: relative;
	display: inline-block;
}
.avatar{
	width : 100%;
	clip-path: ellipse(50% 50%);
}
.change_avatar{
	width : 10%;
	clip-path:ellipse(50% 50%);
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	width: 5%;
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{
	background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown:hover .dropbtn{
	background-color: #3e8e41;
}
/*Fin Menu Déroulant */

/* ************************************MAIN************************************ */
main{
	width: 100%;
}
.post-container{
	align-items: center;
}

.background-co{
	width: 100%;
	height: 100%;
	background-image: url(../images/fresque.png);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre_register{
	color: rgb(93, 173, 226);
	font-size: 20px;
}

.login{
	background-color: white;
	width: 30%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
	margin: 15%;
}

.form_birthday{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 30px; 
}

.form_birthday_date{
	width: 100%;
}

.form_birthday_titre{
	width: 100%;
	text-align: center;
}

input[type=text], input[type=email], input[type=password], input[type=submit], input[type=search]{
	border: none;
	border-bottom: 2px solid rgb(93, 173, 226);
	background-color: white;
	width: 100%;
	font-size: 20px;
}

input[type=date]{
	border: none;
	border-bottom: 2px solid rgb(93, 173, 226);
	background-color: white;
	width: 100%;
}

.form_submit{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.lien_form_login{
	text-decoration: none underline;
	color: black;
}

.form_login{
	text-align: center;
}
/* ************************************MAIN************************************ */

.main-container{
	background-image: url(../images/fresque.png);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.plus-recent{
	background-color: white;
	width: 50%;
	height: 30%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

.resultat-recherche{
	display: flex;
	justify-content: center;
}

.recherche{
	background-color: white;
	width: 50%;
	height: 30%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

.titre-post-categorie{
	margin: 10px;
}

.bouton-delete{
	display: flex;
	justify-content: flex-end;
}

.plus-recent-container, .plus-reponse-container, .plus-like-container{
	height: 70%;
}

.img-avatar{
	width: 30%;
	height: auto;
}

.auteur{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.titre-post{
	display: flex;
	justify-content: center;
	width: 33%;
}

.vide{
	width: 33%;
}

.utilisateur{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 33%;
}

.post-contenu{
	height: 60%;
	border-top: solid 2px rgb(93, 173, 226);
	border-bottom: solid 2px rgb(93, 173, 226);
	word-wrap: break-word;
}

.plus-like{
	background-color: white;
	width: 50%;
	height: 30%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

.plus-reponse{
	background-color: white;
	width: 50%;
	height: 30%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}
/* main post */
.post-container{
	display: flex;
	background-color: gray;
	height: 100%;
	justify-content:center ;
}
.box-newpost{
	display: flex;
	background-color: red;
	flex-direction: column;
}
.newpost-titre{
	background-color: red;
}
.choix-titre{
	display: flex;
	align-items: center;
}

/* Fin main post */ 

.main-profil{
	background-image: url(../images/fresque.png);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-mdp{
	background-color: white;
	width: 50%;
	height: 30%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

/*Main Post*/
.commentaire{
	display: flex;
}
/* ************************************ALL_USER********************************** */
.user{
	background-color: white;
	width: 50%;
	height: 30%;
	text-align: center;
	padding: 5%;
	margin: 3%;
	overflow: auto;	
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}
.main-cont{
	background-image: url(../images/fresque.png);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 1200px;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	overflow: auto;
}
.cont{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	overflow: auto;	
}

/* ************************************MY_POST********************************** */
.mespost{
	background-color: white;
	width: 50%;
	height: 30%;
	text-align: center;
	margin: 3%;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

/* *******************************POST_PAR_CAT*********************************** */

+@font-face {
	font-family: Edelsans;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/edelsans_regular-webfont.woff);
  }
  body { 
	margin: 0;

  }
  section { 
	height: 1200px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	flex-direction: column;
	padding: 2vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 1.1em; 
  }
  section:first-of-type { 
	font-size: 1.1em;
  }
  section:first-of-type, section.pop { 
	color: #fff;
	text-shadow: 0 0 5px rgba(0,0,0,0.4); 
  }
  section:first-of-type, section.pop  { 
	background: #fff;
  }
  section:first-of-type, section.warzone { 
	background-image: url(../images/warzone.jpg); 
  }
  section:first-of-type, section.fortnite  { 
	background-image: url(../images/fortnite.jpg); 
  }
  section:first-of-type, section.pubg  { 
	background-image: url(../images/pubg.jpg); 
  }
  section:first-of-type, section.apex  { 
	background-image: url(../images/apex.jpg); 
  }


/* ************************************FOOTER************************************ */

footer{
	padding: 20px 0 10px 0;
	background-color : rgb(159, 190, 231); 
	color: #FFFAE1;
	text-align : center;
	position: static;
}

footer form{
	margin:0 auto;
	max-width: 900px;
}

footer input, textarea, button{
	border: none;
	width: 55%;
	padding: 12px 10px;
	margin: 2px 0;
	font-size: 1.2em;
	font-family: 'Advent pro', sans-serif;
	border-radius: 8px;
}

footer textarea{
	height: 120px;
}

footer button{
	font-size: 1.5em;
	background-color: #FFFAE1;
}

footer button:hover{
	background-color: #e55039;
	color: #FFFAE1;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

#trait2{
	height: 1px;
	width: 75%;
	background-color: #FFFAE1;
	margin: 60px auto;
}

#copyrighteticons{
	display: flex;
	margin-bottom: 20px;
	padding: 0 10%;
}

#copyright{
	width: 50%;
	text-align: left;
	color: #FFFAE1;
}

#icons{
	width: 50%;
	text-align: right;
}

#icons a{
	display: inline-block;
	padding: 0 15px;
	font-size: 1.3em;
	color: #FFFAE1;
}

#icons a:hover{
	transform: scale(1.5);
	transition: 0.1;
}

#lien{
	display: flex;
	justify-content: center;
	margin: 60px auto;
	height: 100%;
}

#bouton{
	width: 30%;
	padding: 15px;
}

#bouton1{
	width: 30%;
	border-left: solid 5px #FFFAE1;
	border-right: solid 5px #FFFAE1;
	padding: 15px;
}

#bouton2{
	width: 30%;
	padding: 15px;
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer li{
	list-style-type: none;
}


