html{
	margin: 0;
	height: 100%;
}

body{
	background-color: white;
	margin: 0;
	height: 100%;
}

header{
	height: 10%;
	width: 100%;
	display: flex;	
}

.logo-pacman{
	width: 20%;
	height: auto;
}

.titre{
	margin-right: 50px;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 30%;
	margin: 5px;
}

.txt-titre{
	color: white;
}

/* BOUTON */

.bouton-A{
	border: 0;
	background-color: rgb(234, 237, 237);
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-right: 1px solid;
}

.bouton-A:hover{
	background-color: rgb(219, 219, 219);
}

#lien-A{
	text-decoration: none; 
}

.bouton-P{
	border: 0;
	background-color: rgb(234, 237, 237);
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-right: 1px solid;
}

.bouton-P:hover{
	background-color: rgb(219, 219, 219);
}

#lien-P{
	text-decoration: none; 
}

.bouton-F{
	border: 0;
	background-color: rgb(234, 237, 237);
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-right: 1px solid;
}

.bouton-F:hover{
	background-color: rgb(219, 219, 219);
}

#lien-F{
	text-decoration: none; 
}

/* FIN BOUTON */

/* FIN HEADER */


/* MAIN */

.main{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 88%;
}

.container{
	width: 70%;
	height: 100%;
	overflow-y: scroll;	
	background-color: rgb(234, 237, 237);
	border-right: 2px solid;
	border-left: 2px solid;
}

.navigation{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	background-color: rgb(234, 237, 237);
	border-bottom: 1px solid;
}

.text-container{
	margin: 10px;
}

.img-resume
{
	width:30%;
	margin-right: 2% ;
	margin-left: 2%;
}

/*Paragraphe du résumer */

.align-g
{
    margin-top: 2%;
    display: flex ;
    align-items: center ;
    padding-bottom: 2%;
    border-bottom: solid 1px;
}

.align-d
{
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   	padding-bottom: 2%;
    border-bottom: solid 1px;
}
.p-resume
{
    padding-right: 5%;
    padding-left: 5%;
}

/* Fin paragraphe du résumer */

/* FIN MAIN */

footer {
	padding:20px 0 10px 0;
	background-color : gray; 
	color: #FFFAE1;
	text-align : center;
}