html{
	margin: 0;
	height: 100%;
}

body{
	background-color: white;
	margin: 0;
	height: 100%;
}

header{
	position: fixed;
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-bottom: 2px solid rgb(93, 173, 226);	
	background-color: white;
}

.logo{
	width: 20%;
	height: auto;
}

.titre{
	margin-right: 50px;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 30%;
	margin: 5px;
}

.txt-titre{
	color: rgb(93, 173, 226);
}

.txt-log{
	text-decoration: none;
}

.connection{
	display: flex;
	justify-content: space-around;
	width: 16%;
	align-items: center;
}

.bouton-R{
	background-color: white;
	color: rgb(231, 76, 60);
	border-radius: 10px;
	border: none;
	width: 80px;
	border: 2px solid rgb(231, 76, 60);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
}

.bouton-L{
	background-color: rgb(231, 76, 60);
	border-radius: 10px;
	border: none;
	width: 80px;
	border: 2px solid rgb(231, 76, 60);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
}

footer{
	padding: 20px 0 10px 0;
	background-color : rgb(159, 190, 231); 
	color: #FFFAE1;
	text-align : center;
}
main{
	background-image: url(../images/fresque.jpg);
	background-size: cover;
	width: 100%;
	height: 80%;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10%;
}