html{
	margin: 0;
	height: 100%;
}

body{
	background-color: white;
	margin: 0;
	height: 100%;
}

header{
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-bottom: 2px solid rgb(93, 173, 226);	
}

.logo{
	width: 20%;
	height: auto;
}

.titre{
	margin-right: 50px;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 30%;
	margin: 5px;
}

.txt-titre{
	color: rgb(93, 173, 226);
}

main{
	background-image: url(../images/fresque.jpg);
	background-size: cover;
	width: 100%;
	height: 80%;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre_register{
	color: rgb(93, 173, 226);
	font-size: 20px;
}

.register{
	background-color: white;
	width: 30%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

.login{
	background-color: white;
	width: 30%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

.form_birthday{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 30px; 
}

.form_birthday_date{
	width: 100%;
}

.form_birthday_titre{
	width: 100%;
	text-align: center;
}

input[type=text], input[type=email], input[type=password], input[type=submit]{
	border: none;
	border-bottom: 2px solid rgb(93, 173, 226);
	background-color: white;
	width: 100%;
	font-size: 20px;
}

input[type=date]{
	border: none;
	border-bottom: 2px solid rgb(93, 173, 226);
	background-color: white;
	width: 100%;
}

.form_submit{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

footer{
	padding: 20px 0 10px 0;
	background-color : gray; 
	color: #FFFAE1;
	text-align : center;
}

.lien_form_login{
	text-decoration: none underline;
	color: black;
}

