html{
	margin: 0;
	height: 100%;
}

body{
	background-color: white;
	margin: 0;
	height: 100%;
}

/* ************************************HEADER************************************ */

header{
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-bottom: 2px solid rgb(93, 173, 226);	
}

.logo{
	width: 95%;
	height: auto;
}

.titre{
	background-color: red;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 13%;
	margin: 5px;
}

.txt-titre{
	color: rgb(93, 173, 226);
}

.lien-titre{
	text-decoration: none;
}

.connection{
	background-color: red;
	width: 17%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bouton-R{
	height: 60px;
	width: 100px;
	border: 2px solid rgb(93, 173, 226);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bouton-L{
	height: 60px;
	width: 100px;
	background-color: rgb(93, 173, 226);
	border: 2px solid rgb(93, 173, 226);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.txt-bouton-connection p{
	font-family: "Futura", sans-serif;
	text-decoration: none;
}

/* ************************************MAIN************************************ */

main{
	background-image: url(../images/fresque.png);
	background-size: cover;
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre_register{
	color: rgb(93, 173, 226);
	font-size: 20px;
}

.register{
	background-color: white;
	width: 30%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

.login{
	background-color: white;
	width: 30%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 10px 10px;
}

.form_birthday{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 30px; 
}

.form_birthday_date{
	width: 100%;
}

.form_birthday_titre{
	width: 100%;
	text-align: center;
}

input[type=text], input[type=email], input[type=password], input[type=submit]{
	border: none;
	border-bottom: 2px solid rgb(93, 173, 226);
	background-color: white;
	width: 100%;
	font-size: 20px;
}

input[type=date]{
	border: none;
	border-bottom: 2px solid rgb(93, 173, 226);
	background-color: white;
	width: 100%;
}

.form_submit{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.lien_form_login{
	text-decoration: none underline;
	color: black;
}

/* ************************************FOOTER************************************ */

footer{
	padding: 20px 0 10px 0;
	background-color : rgb(159, 190, 231); 
	color: #FFFAE1;
	text-align : center;
}

footer form{
	margin:0 auto;
	max-width: 900px;
}

footer input, textarea, button{
	border: none;
	width: 55%;
	padding: 12px 10px;
	margin: 2px 0;
	font-size: 1.2em;
	font-family: 'Advent pro', sans-serif;
	border-radius: 8px;
}

footer textarea{
	height: 120px;
}

footer button{
	font-size: 1.5em;
	background-color: #FFFAE1;
}

footer button:hover{
	background-color: #e55039;
	color: #FFFAE1;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

#trait2{
	height: 1px;
	width: 75%;
	background-color: #FFFAE1;
	margin: 60px auto;
}

#copyrighteticons{
	display: flex;
	margin-bottom: 20px;
	padding: 0 10%;
}

#copyright{
	width: 50%;
	text-align: left;
	color: #FFFAE1;
}

#icons{
	width: 50%;
	text-align: right;
}

#icons a{
	display: inline-block;
	padding: 0 15px;
	font-size: 1.3em;
	color: #FFFAE1;
}

#icons a:hover{
	transform: scale(1.5);
	transition: 0.1;
}

#lien {
	display: flex;
	margin: 60px auto;
}

#bouton{
	width: 33%;
	box-shadow:inset 5px 0px 1px -1px #fffae1;	
}

#bouton1{
	width: 33%;
	box-shadow:inset 5px 0px 1px -1px #fffae1;
}

#bouton2{
	width: 33%;
	box-shadow:inset 5px 0px 1px -1px #fffae1;
}

footer li{
	list-style-type: none;
}